body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #e3f2fd, #f8fbff);
    margin: 0;
}

.container {
    width: 420px;
    margin: 60px auto;
}


#contactForm {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #444;
}

.input-field {
    width: 100%;
    padding: 11px;
    margin-top: 6px;
    margin-bottom: 18px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.3s;
}


.input-field:focus {
    border-color: #4facfe;
    box-shadow: 0 0 6px rgba(79,172,254,0.3);
    outline: none;
}


#submitBtn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #4facfe, #00c6ff);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}


#submitBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 12px rgba(0,0,0,0.15);
}